.DS_Store
lib-cov
*.seed
*.log
*.csvgrunt lint

*.dat
*.out
*.pid
*.gz

pids
logs
results

npm-debug.log
node_modules/
public/vendor/

dist/
pack/
build/
www/
.tmp/
docs/

public/test-results
public/test/vendor/*
!public/test/vendor/mocha-config.js
!public/test/vendor/test.html

public/manifest_webapp_backup
public/manifest_json_backup

.idea/
