<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title><%= name %></title>
    <!--[if IE]>
    <script src="js/polyfill_ie.js"></script>
    <![endif]-->
        <!-- build:css style/app.min.css -->
    <link rel="stylesheet" href="style/main.css">
    <!-- endbuild -->

    <!-- build:js js/app.min.js -->
    <!-- endbuild -->


    <!-- include crc-loader webresource from base
        1) Want to add a main script?
        Add the following attribute: data-crc-main="js/main.js"
    -->
    <script src="<%= devBaseUrl %>/cubx.core.crc-loader-<%= crcLoaderVersion %>/js/main.js"></script>

</head>
<body>
<h2>Demopage for the Cubixx-Component <code><%= name %></code></h2>
<p>This page explains and demonstrates the contained component.</p>
<hr>
<!-- The cubixx client-runtime-container is bound to the next div -->
<div cubx-core-crc>
    <!-- Change this to your element name ... -->
    <<%= name %>></<%= name %>>
</div>

</body>
</html>
